@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");

.App {
  font-family: "Prompt", sans-serif;
  text-align: center;
  /* max-width: 600px; */
  margin: auto;
}

body {
  background-color: #efefef;
}
